merged_data.csv
__pycache__/main.cpython-312.pyc
data.zip
extracted_data/jibun_rnaddrkor_busan.txt
extracted_data/jibun_rnaddrkor_chungbuk.txt
extracted_data/jibun_rnaddrkor_chungnam.txt
extracted_data/jibun_rnaddrkor_daegu.txt
extracted_data/jibun_rnaddrkor_daejeon.txt
extracted_data/jibun_rnaddrkor_gangwon.txt
extracted_data/jibun_rnaddrkor_gwangju.txt
extracted_data/jibun_rnaddrkor_gyeongbuk.txt
extracted_data/jibun_rnaddrkor_gyeongnam.txt
extracted_data/jibun_rnaddrkor_gyunggi.txt
extracted_data/jibun_rnaddrkor_incheon.txt
extracted_data/jibun_rnaddrkor_jeju.txt
extracted_data/jibun_rnaddrkor_jeonbuk.txt
extracted_data/jibun_rnaddrkor_jeonnam.txt
extracted_data/jibun_rnaddrkor_sejong.txt
extracted_data/jibun_rnaddrkor_seoul.txt
extracted_data/jibun_rnaddrkor_ulsan.txt
extracted_data/rnaddrkor_busan.txt
extracted_data/rnaddrkor_chungbuk.txt
extracted_data/rnaddrkor_chungnam.txt
extracted_data/rnaddrkor_daegu.txt
extracted_data/rnaddrkor_daejeon.txt
extracted_data/rnaddrkor_gangwon.txt
extracted_data/rnaddrkor_gwangju.txt
extracted_data/rnaddrkor_gyeongbuk.txt
extracted_data/rnaddrkor_gyeongnam.txt
extracted_data/rnaddrkor_gyunggi.txt
extracted_data/rnaddrkor_incheon.txt
extracted_data/rnaddrkor_jeju.txt
extracted_data/rnaddrkor_jeonbuk.txt
extracted_data/rnaddrkor_jeonnam.txt
extracted_data/rnaddrkor_sejong.txt
extracted_data/rnaddrkor_seoul.txt
extracted_data/rnaddrkor_ulsan.txt
